/* GLOBAL */

@font-face {
     font-family: 'Inter';
     src: local('Inter'), url('../../static/fonts/inter.ttf') format('truetype');
     font-weight: 100 900;
     font-display: swap; }

:root {
     --k-primary: #1D3041;
     --k-secondary: #55947F;
     --k-grey-dk: #C3C6CA;
     --k-grey-lt: #D1D3D6;
     --k-white: #EEEEEF;
     --k-bg: #E7E7E7;

     --k-dark-1: #1b1b1b;
     --k-dark-2: #2c2c2c;

     --ifm-font-family-base: 'Inter', sans-serif;
     --ifm-heading-font-family: 'Inter', sans-serif;

     --ifm-code-font-size: 85%;
     --ifm-link-color: var(--k-secondary);

     --ifm-color-primary: #25c2a0;
     --ifm-code-font-size: 95%;

     --ifm-h1-font-size: 2.25rem;
     --ifm-h2-font-size: 2rem;
     --ifm-h3-font-size: 1.75rem;
     --ifm-h4-font-size: 1.5rem;
     --ifm-h5-font-size: 1.25rem; }


/* GLOBAL */

html:not(.toc-display) .theme-doc-toc-desktop { display: none; }